.card-fanpol{
    padding: 1.5rem;
}

h2{
    text-align: center;
}

h3{
    padding: 1rem 0;
    padding-right: 4rem;
    margin: 0;
}

.rowflex{
    position: relative;
    align-items: center;;
}

i{
    position: absolute;
    right: 0;
}

button{
    margin: 0 auto;
}

.colunm{
    button{
        margin: 0.25rem 0;
    }
}