.container-dialg{
    padding: 1rem;

    background: #FFFFFF;
    border: 4px solid #F8C4C0;
    box-sizing: border-box;
    border-radius: 32px;

    .font-normal{
        padding: 1rem;
    }
}

.could{
    position: absolute;
}

@media (min-width: 992px) {
    .could{
        width: 90vw;
        top: 10vh;
    }
}

@media (max-width: 992px) {
    .could{
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        padding: 0.5rem;
    }
}