<div class="loading-container" *ngIf="gameService.loadingPage$">
    <div @showUpElement class="firweworks"></div>
    <span>Espere</span>
</div>

<header *ngIf="auth_service.user$ | async">
    <nav class="navbar navbar-light bg-light">
        <app-nav-bar
            [list_menu]="list_menu"
        ></app-nav-bar>
        <a class="navbar-brand" href="#">
          <img src="../../../favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
          Fanpol
        </a>

        <a class="navbar-brand" href="#">
            <i class="fas fa-sign-out-alt" (click)="auth_service.signOut()"></i>
        </a>
    </nav>
</header>

<router-outlet></router-outlet>